#clock{
	background: #f2f4f5;
	color: #000000;
	text-align: center;
	font-size: 28px;
        height: 70px;
        line-height: 70px;
}
#clock-text{
	text-align: center;
	font-size: 12px; 
        line-height: 12px;
        font-weight:bold;
}

#ctflogo{
	width:100px;
}

#logodiv{
        line-height: 12px;
}

th.sorts {
	font-size: 14px;
	color: white !important;
}

th.sorts.numeric {
	font-size: 14px;
	color: white !important;
}

th.numeric {
	font-size: 18px;
	color: white !important;
}

td.string {
	font-size: 18px;
	color: white !important;
}

td.numeric {
	font-size: 18px;
	color: white !important;
}

.table-drilldown>tbody>tr>td {
	font-size: 18px;
    color: white !important;
}